// @mixin button-page{
//     width:  $button-width; 
//     padding-block:$button-padding-block; 
//     font-family: inherit; 
//     font-weight: 700; 
//     color:white; 
//     cursor:pointer;
    
//    
//     }
   
   
    $button-width: 7%;
    $button-padding-block: 1%;
    $button-font-family: inherit;
    $button-font-weight: 700;
    $button-color: white;
    $button-cursor: pointer;

    @mixin button-page($main-color, $button-width, $button-padding-block, $button-font-family, $button-font-weight,$button-color, $button-cursor){
        background-color: $main-color;
        width: $button-width;
        padding-block:$button-padding-block;
        font-family: $button-font-family;
        font-weight: $button-font-weight;
        color: $button-color;
        cursor: $button-cursor;
        margin-bottom: 30px;
        transition: all 1s;
            &:hover{
                color: black;
                background-color: white;
            width: 10%;}
    }